
<body>

  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>
<!--<app-spinner></app-spinner>-->
<!--<ngx-spinner bdColor="rgba(0, 0, 0, 1)">
  template="<img src='https://media.giphy.com/media/o8igknyuKs6aY/giphy.gif' />"
</ngx-spinner>-->
<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#fff"
             type="ball-spin-clockwise">
           <!--'ball-scale-multiple'
           'ball-spin'
           'ball-spin-clockwise'
           'ball-spin-clockwise-fade-rotating'
           'ball-spin-fade-rotating'
           'chasing-dots'
           'circle'
           'cube-grid'
           'double-bounce'
           'fading-circle'
           'folding-cube'
           'pulse'
           'rectangle-bounce'
           'rectangle-bounce-party'
           'rectangle-bounce-pulse-out'
           'rectangle-bounce-pulse-out-rapid'
           'rotating-plane'
           'square-jelly-box'
           'square-loader'
           'three-bounce'
           'three-strings'
           'wandering-cubes';-->
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
