<div style="margin:15px;">
  <h5> Demo Picker </h5>
  <hr class="page-header-hr" />

  <div class="card border-primary">
    <div class="card-body">

      <div class="row">
        <kendo-grid [data]="gridView"
                    [pageSize]="pageSize"
                    [skip]="skip"
                    [resizable]="true"
                    [pageable]="true"
                    (pageChange)="pageChange($event)"
                    style="margin: 14px"
                    [selectable]="selectableSettings"
                    [selectedKeys]="taggedSelection"
                    [kendoGridSelectBy]="postID">
          <kendo-grid-checkbox-column width="25"></kendo-grid-checkbox-column>
          <kendo-grid-column field="postName" title="Post Title" width="100"></kendo-grid-column>
          <kendo-grid-column field="postCreatorName" title="Post Creator Name" width="100"></kendo-grid-column>
          <kendo-grid-column title="Post Creation Date" width="80">
            <ng-template kendoGridCellTemplate let-dataItem>
              {{dataItem.postCreationDate | date: 'dd MMM yyyy'}}
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="numOfComments" title="Number Of Comment" width="100"></kendo-grid-column>

        </kendo-grid>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <button class="btn btn-sm btn-primary" style="float: right;" (click)="OnCancelClick();"><i class="fa fa-times"></i> Cancel </button>
          <button class="btn btn-sm btn-primary" style="float: right; margin-right: 15px;" (click)="OnSelectClick();"><i class="fa fa-check"></i> Select </button>
        </div>
      </div>

    </div>

  </div>

</div>
