<div class="row">
  <div class="form-group mt-2 col-md-12">

    <button class="btn btn-sm btn-primary" style="float: right" (click)="search();"><i class="fa fa-search"></i> {{'home.Search' | translate}} </button>
  </div>
</div>
<div class="row">

  <kendo-grid [data]="gridView"
              [pageSize]="pageSize"
              [skip]="skip"
              [pageable]="true"
              (pageChange)="pageChange($event)"
              style="margin: 14px">

    <kendo-grid-column field="postName" title="{{'home.PostName' | translate}}" width="100"></kendo-grid-column>
    <kendo-grid-column field="postCreatorName" title="{{'home.PostCreatorName' | translate}}" width="100"></kendo-grid-column>
    <kendo-grid-column title="{{'home.PostCreationDate' | translate}}" width="80">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{dataItem.postCreationDate | date: 'dd MMM yyyy'}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="numOfComments" title="{{'home.NumOfComments' | translate}}" width="100"></kendo-grid-column>

    <ng-template kendoGridDetailTemplate let-dataItem>

      <kendo-grid style="margin: 0px"
                  [data]="dataItem.comments"
                  [resizable]="true">

        <kendo-grid-column field="commentDescription" title="{{'home.CommentDescription' | translate}}" width="100"></kendo-grid-column>
        <kendo-grid-column field="commentCreatorName" title="{{'home.CommentCreatorName' | translate}}" width="100"></kendo-grid-column>
        <kendo-grid-column title="{{'home.CommentCreationDate' | translate}}" width="80">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.commentCreationDate | date: 'dd MMM yyyy'}}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="{{'home.LikeDislike' | translate}}" width="80">
          <ng-template kendoGridCellTemplate let-dataItem>
            Like: {{dataItem.numOfLike}}  Dislike: {{dataItem.numOfDislike}}
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </ng-template>

  </kendo-grid>

</div>
